* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  padding: 5rem;
  text-align: center;
}

.form-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: min-content;
  margin: 1rem auto;
}

#title,
#author,
#pages {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5%;
  background-color: #fff;
}

#button {
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: green;
  color: white;
  cursor: pointer;
  border: 0;
  outline: none;
}

#books-container {
  text-align: center;
  margin: 0 auto;
  background-color: #999;
}

td {
  padding: 1rem 2rem;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 0.5rem;
}

.delete {
  background-color: red;
  font-size: 0.8rem;
  color: white;
  padding: 0.5rem;
}

.status {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.read {
  background-color: blue;
  color: white;
}

.unread {
  background-color: #555;
  color: white;
}
